@model QuizProject.Domain.Quiz

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SuizType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuizType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartQuiz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartQuiz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishQuiz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishQuiz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuizManagerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizManagerID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdQuiz }) |
    @Html.ActionLink("Back to List", "Index")
</p>
